main {
  width: 100%;
  min-height: 100hv;
}

.grid {
  width: 100%;
}

.bar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.bar img {
  width: auto;
  height: 50px;
}

.naveg {
  width: 100%;
  height: 50px;
  background-color: rgb(1, 83, 1);
  display: block;
}

.naveg a:hover {
  background-color: rgb(1, 45, 1);
}

.home {
  display: flex;
  flex: 1;
  cursor: pointer;
  font-size: 0.9rem;
  color: rgb(243, 239, 239);
  padding: 0 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.btn-login {
  background-color: #c9c9c9;
  border-radius: 10px;
  padding: 15px;
  color: #5c7405;
  cursor: pointer;
  font-size: 1em;
  width: 100px;
}

.container {
  display: flex;
  height: 600px;
  width: 70%;
  margin: 50px auto;
  background-color: rgb(1, 1, 12);
  border-radius: 2px;
}
.box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.box-1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/user.png);
  border: 1px solid black;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/user.png);
  border: 1px solid black;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/user.png);
  border: 1px solid black;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-4 {
  width: 100%;
  height: 100%;
  background-image: url(../img/user.png);
  border: 1px solid black;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  font-size: 2em;
  color: #fff;
}

.group {
  width: 100%;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.btn-voltar {
  background-color: rgb(238, 225, 225);
  border-radius: 10px;
  padding: 15px;
  color: #228b02;
  cursor: pointer;
  font-size: 1em;
  margin: 0 100px;
  width: 100px;
  border: 2px solid black;
}

.chat-text {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #c06007;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-text input {
  width: 100%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

.btn-message {
  width: 100%;
  height: 50px;
  background-color: rgb(238, 225, 225);
  color: #228b02;
  cursor: pointer;
}

.messages {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
}
